DB_HOST=db
DB_PORT=5432
DB_USER=smartcoop
DB_PASS=your_strong_password
DB_NAME=smart_coop

SECRET_KEY=your_secret_key_min_32_chars_here
ALGORITHM=HS256

MQTT_BROKER=mqtt
MQTT_PORT=1883
DEVICE_ID=ESP32-COOP-01
DEVICE_API_KEY=f13837baf78328784e4151bb298024fec73e2848e929565e94e23792b596fdfb

FIREBASE_CREDENTIALS_PATH=/app/firebase-credentials.json
