.idea/
.venv/
.env/
__pycache__/
venv/
.env
*.pyc
.vscode/
.DS_Storesmart-coop-f4261-firebase-adminsdk-fbsvc-c236d9e94e.json
firebase-credentials.json
smart-coop-f4261-firebase-adminsdk-fbsvc-c236d9e94e.json
firebase-credentials.json
